.btn {
	border: 4px solid #FD4F57;
	background: transparent;
    font-family: @font-family-section-header;
    font-size: @font-size-base;
    color: #FD4F57;
    padding: 10px 20px 5px;
    text-shadow: 0px 0px 0px transparent;
    &:hover {
    	background: transparent;
    	color: #FD4F57;
    }
}