.carousel-indicators {
	position: relative;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	margin: 0;
	width: 100%;
	text-align: center;

	li {
		background-color: #FD4F57;
		border: 0px solid transparent;
		height: 10px;
		width: 10px;
		display: inline-block;
		float: none;

		&.active {
			background-color: #FEA1A3;
			height: 10px;
			width: 10px;
			margin: 1px;
		}
	}

}

.carousel-inner > .item {
	text-align: left;
}