.case-item {
  padding: 0;

  .row {margin: 0;}

  .case-item-inner {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
  }

  .case-item-permalink {
    display: block;
    background-color: #FD4F57;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    width: 100%;
    text-align: center;

    &:hover {
      opacity: 1;
      transition: all 0.5s ease;
    }

    .case-item-title {
      color: #fff;
      font-family: @font-family-job-title;
      font-size: @font-size-base * 1.5;
      margin: auto 0;
      padding: 15px;
      position: absolute;
      top: 50%;
      text-align: left;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      width: 100%;
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

}