html,
body {
  height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;

	@media only screen and (min-width: 500px) {
		-webkit-transition: -webkit-transform 500ms ease;
		-moz-transition: -moz-transform 500ms ease;
		-ms-transition: -ms-transform 500ms ease;
		-o-transition: -o-transform 500ms ease;
		transition: transform 500ms ease;

		&.nav-menu-open {
			overflow: hidden;
			// -webkit-transform: translateY(-80%);
			// -moz-transform: translateY(-80%);
			// -ms-transform: translateY(-80%);
			// transform: translateY(-80%);
		}
	}

}

::selection {
  background: #FD4F57;
  color: #fff;
}
::-moz-selection {
  background: #FD4F57;
  color: #fff;
}

#wrapper {
 //  .animated;
 //  .fadeInLeft;
	min-height: 100%;
	height: 100%;
	&.nav-menu-open {
		// overflow: hidden;

	}
  z-index: 1;
  position: relative;
}

:focus, :active {
	outline: none !important;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
}

.full-height-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.full-height-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.inner {
}

#cases {
  padding: 0;
  margin-bottom: 230px;
}

#contact-form {
  // padding: 0;
  margin-bottom: 230px;
}

.section {
  padding: 80px 0;

  .section-header {
    font-family: @font-family-section-header;
    font-size: @font-size-base * 2;
    strong {
      display: block;
      font-size: @font-size-base * 3;
    }
  }

  &.style-1 {
    color: #FD4F57;
    background-color: #fff;
  }

  &.style-2 {
    color: #fff;
    background-color: #FD4F57;

    .btn {
      border-color: #fff;
      color: #fff;
    }
  }
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .full-height-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

.typed-cursor {
  display: none;
}

.visible {
  opacity: 1;
}
.hidden {
  opacity: 0;
}

.case {
  height: 100%;
}

@media only screen and (max-width : 640px) {
    .parallax{
    background: url(../video/video.jpg) no-repeat center center fixed #444;
    background-attachment: fixed !important;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
}

.parallax {
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 1;
}

.next {
  background: transparent;
  border: 0px solid transparent;
  position: absolute;
  bottom: 5px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 45px;
}

.employee-card {
  padding: 0;
  margin: 0 0 50px;

  .row {margin: 0;}

    .employee-thumbnail {
      width: 100%;
    }

    .employee-name {
      font-family: @font-family-job-title;
      font-size: @font-size-base - 5px;
      margin: 20px 0 0;
    }

    p {
      font-size: @font-size-small - 1px;
    }

}

#footer {
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background-color: #FD4F57;
  padding: 80px 0 60px;
  .logo {
    img {
      max-width: 100%;
      height: 90px;
    }
  }
}