@metric-font-path: "../fonts/metric";

@font-face {
  font-family: 'Metric Thin';
  src: ~"url('@{metric-font-path}/Metric-Thin.eot')";
  src: ~"url('@{metric-font-path}/Metric-Thin.eot?#iefix') format('embedded-opentype')", /* IE6-IE8 */
       ~"url('@{metric-font-path}/Metric-Thin.woff') format('woff')", /* Modern Browsers */
       ~"url('@{metric-font-path}/Metric-Thin.ttf')  format('truetype')", /* Safari, Android, iOS */
       ~"url('@{metric-font-path}/Metric-Thin.svg#145bf4e41eacab7a89d58f3c52de0465') format('svg')"; /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metric Thin Italic';
  src: ~"url('@{metric-font-path}/Metric-ThinItalic.eot')"; /* IE9 Compat Modes */
  src: ~"url('@{metric-font-path}/Metric-ThinItalic.eot?#iefix') format('embedded-opentype')", /* IE6-IE8 */
       ~"url('@{metric-font-path}/Metric-ThinItalic.woff') format('woff')", /* Modern Browsers */
       ~"url('@{metric-font-path}/Metric-ThinItalic.ttf')  format('truetype')", /* Safari, Android, iOS */
       ~"url('@{metric-font-path}/Metric-ThinItalic.svg#80d28452511a334d65053d6b8b03dd02') format('svg')"; /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metric Medium';
  src: ~"url('@{metric-font-path}/Metric-Medium.eot')"; /* IE9 Compat Modes */
  src: ~"url('@{metric-font-path}/Metric-Medium.eot?#iefix') format('embedded-opentype')", /* IE6-IE8 */
       ~"ul('@{metric-font-path}/Metric-Medium.woff') format('woff')", /* Modern Browsers */
       ~"url('@{metric-font-path}/Metric-Medium.ttf')  format('truetype')", /* Safari, Android, iOS */
       ~"url('@{metric-font-path}/Metric-Medium.svg#c7ee5445097c6e0d6d750527c8342a4e') format('svg')"; /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metric Medium Italic';
  src: ~"url('@{metric-font-path}/Metric-MediumItalic.eot')"; /* IE9 Compat Modes */
  src: ~"url('@{metric-font-path}/Metric-MediumItalic.eot?#iefix') format('embedded-opentype')", /* IE6-IE8 */
       ~"url('@{metric-font-path}/Metric-MediumItalic.woff') format('woff')", /* Modern Browsers */
       ~"url('@{metric-font-path}/Metric-MediumItalic.ttf')  format('truetype')", /* Safari, Android, iOS */
       ~"url('@{metric-font-path}/Metric-MediumItalic.svg#f7fed805e027ac82ba114579ec0fb2ea') format('svg')"; /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metric Regular';
  src: ~"url('@{metric-font-path}/Metric-Regular.eot')"; /* IE9 Compat Modes */
  src: ~"url('@{metric-font-path}/Metric-Regular.eot?#iefix') format('embedded-opentype')", /* IE6-IE8 */
       ~"url('@{metric-font-path}/Metric-Regular.woff') format('woff')", /* Modern Browsers */
       ~"url('@{metric-font-path}/Metric-Regular.ttf')  format('truetype')", /* Safari, Android, iOS */
       ~"url('@{metric-font-path}/Metric-Regular.svg#01887be539e7e6b1c321393346bf7a1f') format('svg')"; /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metric Regular Italic';
  src: ~"url('@{metric-font-path}/Metric-RegularItalic.eot')"; /* IE9 Compat Modes */
  src: ~"url('@{metric-font-path}/Metric-RegularItalic.eot?#iefix') format('embedded-opentype')", /* IE6-IE8 */
       ~"url('@{metric-font-path}/Metric-RegularItalic.woff') format('woff')", /* Modern Browsers */
       ~"url('@{metric-font-path}/Metric-RegularItalic.ttf')  format('truetype')", /* Safari, Android, iOS */
       ~"url('@{metric-font-path}/Metric-RegularItalic.svg#8a1fa811e59f0b9a3e70b10db06e8a28') format('svg')"; /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metric Semibold';
  src: ~"url('@{metric-font-path}/Metric-Semibold.eot')"; /* IE9 Compat Modes */
  src: ~"url('@{metric-font-path}/Metric-Semibold.eot?#iefix') format('embedded-opentype')", /* IE6-IE8 */
       ~"url('@{metric-font-path}/Metric-Semibold.woff') format('woff')", /* Modern Browsers */
       ~"url('@{metric-font-path}/Metric-Semibold.ttf')  format('truetype')", /* Safari, Android, iOS */
       ~"url('@{metric-font-path}/Metric-Semibold.svg#4e2e9f40315d6d2bcda3a391ef8219fa') format('svg')"; /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metric Semibold Italic';
  src: ~"url('@{metric-font-path}/Metric-SemiboldItalic.eot')"; /* IE9 Compat Modes */
  src: ~"url('@{metric-font-path}/Metric-SemiboldItalic.eot?#iefix') format('embedded-opentype')", /* IE6-IE8 */
       ~"url('@{metric-font-path}/Metric-SemiboldItalic.woff') format('woff')", /* Modern Browsers */
       ~"url('@{metric-font-path}/Metric-SemiboldItalic.ttf')  format('truetype')", /* Safari, Android, iOS */
       ~"url('@{metric-font-path}/Metric-SemiboldItalic.svg#8ba94f00b0e12d712e7e19e00377f552') format('svg')"; /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metric Black';
  src: ~"url('@{metric-font-path}/Metric-Black.eot')"; /* IE9 Compat Modes */
  src: ~"url('@{metric-font-path}/Metric-Black.eot?#iefix') format('embedded-opentype')", /* IE6-IE8 */
       ~"url('@{metric-font-path}/Metric-Black.woff') format('woff')", /* Modern Browsers */
       ~"url('@{metric-font-path}/Metric-Black.ttf')  format('truetype')", /* Safari, Android, iOS */
       ~"url('@{metric-font-path}/Metric-Black.svg#ca55fd9e6a82ee4e262c8ada5dabd9a7') format('svg')"; /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metric Black Italic';
  src: ~"url('@{metric-font-path}/Metric-BlackItalic.eot')"; /* IE9 Compat Modes */
  src: ~"url('@{metric-font-path}/Metric-BlackItalic.eot?#iefix') format('embedded-opentype')", /* IE6-IE8 */
       ~"url('@{metric-font-path}/Metric-BlackItalic.woff') format('woff')", /* Modern Browsers */
       ~"url('@{metric-font-path}/Metric-BlackItalic.ttf')  format('truetype')", /* Safari, Android, iOS */
       ~"url('@{metric-font-path}/Metric-BlackItalic.svg#564524bff8129ff08abba168d5965ce9') format('svg')"; /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metric Bold';
  src: ~"url('@{metric-font-path}/Metric-Bold.eot')"; /* IE9 Compat Modes */
  src: ~"url('@{metric-font-path}/Metric-Bold.eot?#iefix') format('embedded-opentype')", /* IE6-IE8 */
       ~"url('@{metric-font-path}/Metric-Bold.woff') format('woff')", /* Modern Browsers */
       ~"url('@{metric-font-path}/Metric-Bold.ttf')  format('truetype')", /* Safari, Android, iOS */
       ~"url('@{metric-font-path}/Metric-Bold.svg#ca665ab50a8ea0412d3fbf7be055082a') format('svg')"; /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metric Bold Italic';
  src: ~"url('@{metric-font-path}/Metric-BoldItalic.eot')"; /* IE9 Compat Modes */
  src: ~"url('@{metric-font-path}/Metric-BoldItalic.eot?#iefix') format('embedded-opentype')", /* IE6-IE8 */
       ~"url('@{metric-font-path}/Metric-BoldItalic.woff') format('woff')", /* Modern Browsers */
       ~"url('@{metric-font-path}/Metric-BoldItalic.ttf')  format('truetype')", /* Safari, Android, iOS */
       ~"url('@{metric-font-path}/Metric-BoldItalic.svg#a5ad2db7d3bde02c78a83c4168de3d1c') format('svg')"; /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metric Light';
  src: ~"url('@{metric-font-path}/Metric-Light.eot')"; /* IE9 Compat Modes */
  src: ~"url('@{metric-font-path}/Metric-Light.eot?#iefix') format('embedded-opentype')", /* IE6-IE8 */
       ~"url('@{metric-font-path}/Metric-Light.woff') format('woff')", /* Modern Browsers */
       ~"url('@{metric-font-path}/Metric-Light.ttf')  format('truetype')", /* Safari, Android, iOS */
       ~"url('@{metric-font-path}/Metric-Light.svg#83486f9f9cc69f82c17a3e6835eb1621') format('svg')"; /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metric Light Italic';
  src: ~"url('@{metric-font-path}/Metric-LightItalic.eot')"; /* IE9 Compat Modes */
  src: ~"url('@{metric-font-path}/Metric-LightItalic.eot?#iefix') format('embedded-opentype')", /* IE6-IE8 */
       ~"url('@{metric-font-path}/Metric-LightItalic.woff') format('woff')", /* Modern Browsers */
       ~"url('@{metric-font-path}/Metric-LightItalic.ttf')  format('truetype')", /* Safari, Android, iOS */
       ~"url('@{metric-font-path}/Metric-LightItalic.svg#d1ba0f456c418b43378d57779ee31e94') format('svg')"; /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}