#intro {
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
  background-size: cover;
  background-position: bottom center;
  color: #fff;

  h1,
  .h1 {
    font-family: @font-family-serif;
    font-size: (@font-size-base * 3.7);
    font-weight: 900;
  }
}

.cover-container {
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 992px) {
      width: 700px;
  }
}

.case .cover-container {
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 992px) {
      width: 700px;
  }
}

