.menu-trigger {
	pointer-events: auto;
	position: fixed;
	right: 40px;
	top: 40px;
	z-index: 110;
	display: block;
	width: 25px;
	height: 22px;
	cursor: pointer;

	.nav-menu-open & {
		// right: -76%;
	}

	span {
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 100%;
		height: 4px;
		font-size: 0;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	span, span.before, span.after {
		background-color: #fff;
	}

	span.before, span.after {
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		content: '';
		-webkit-transition: -webkit-transform .3s;
		transition: transform .3s;
	}

	span.before {
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	span.after {
		-webkit-transform: translateY(10px);
		-ms-transform: translateY(10px);
		transform: translateY(10px);
	}

	.nav-menu-open & {

		span.before {
			-webkit-transform: translateY(0) rotate(45deg);
			-ms-transform: translateY(0) rotate(45deg);
			transform: translateY(0) rotate(45deg);
			background-color: #fff;
		}

		span.main {
			background-color: transparent !important;
		}

		span.after {
			-webkit-transform: translateY(0) rotate(-45deg);
			-ms-transform: translateY(0) rotate(-45deg);
			transform: translateY(0) rotate(-45deg);
			background-color: #fff;
		}

	}

}

.main-nav {
	display: table;
	height: 100%;

	@media only screen and (min-width: 500px) {
		padding: 0;
		font-size: 38px;
		left: auto;
		right: auto;
		top: -100%;
		width: 100%;
		-webkit-transition: -webkit-transform 500ms ease;
		-moz-transition: -moz-transform 500ms ease;
		-ms-transition: -ms-transform 500ms ease;
		-o-transition: -o-transform 500ms ease;
	}

	.nav-menu-open & {
		opacity: 1;
		overflow: hidden;
		-webkit-transition: -webkit-transform 500ms ease;
		-moz-transition: -moz-transform 500ms ease;
		-ms-transition: -ms-transform 500ms ease;
		-o-transition: -o-transform 500ms ease;
		transition: transform 500ms ease;
		-webkit-transform: translateY(100%);
		-moz-transform: translateY(100%);
		-ms-transform: translateY(100%);
		transform: translateY(100%);

		.nav-menu-items-down {

			li {

				&:nth-child(1) {
					-webkit-animation-delay: .2s;
					-moz-animation-delay: .2s;
					-o-animation-delay: .2s;
					animation-delay: .2s;
					.animated;
					.fadeInDown;
					opacity: 1;
				}

				&:nth-child(2) {
					-webkit-animation-delay: .3s;
					-moz-animation-delay: .3s;
					-o-animation-delay: .3s;
					animation-delay: .3s;
					.animated;
					.fadeInDown;
					opacity: 1;
				}

				&:nth-child(3) {
					-webkit-animation-delay: .4s;
					-moz-animation-delay: .4s;
					-o-animation-delay: .4s;
					animation-delay: .4s;
					.animated;
					.fadeInDown;
					opacity: 1;
				}

				&:nth-child(4) {
					-webkit-animation-delay: .5s;
					-moz-animation-delay: .5s;
					-o-animation-delay: .5s;
					animation-delay: .5s;
					.animated;
					.fadeInDown;
					opacity: 1;
				}

				&:nth-child(5) {
					-webkit-animation-delay: .6s;
					-moz-animation-delay: .6s;
					-o-animation-delay: .6s;
					animation-delay: .6s;
					.animated;
					.fadeInDown;
					opacity: 1;
				}

			}

		}

		.nav-menu-items-up {

			li {

				&:nth-child(1) {
					-webkit-animation-delay: 600ms;
					-moz-animation-delay: 600ms;
					-o-animation-delay: 600ms;
					animation-delay: 600ms;
					.animated;
					.fadeOutUp;
				}

				&:nth-child(2) {
					-webkit-animation-delay: 500ms;
					-moz-animation-delay: 500ms;
					-o-animation-delay: 500ms;
					animation-delay: 500ms;
					.animated;
					.fadeOutUp;
				}

				&:nth-child(3) {
					-webkit-animation-delay: 400ms;
					-moz-animation-delay: 400ms;
					-o-animation-delay: 400ms;
					animation-delay: 400ms;
					.animated;
					.fadeOutUp;
				}

				&:nth-child(3) {
					-webkit-animation-delay: 300ms;
					-moz-animation-delay: 300ms;
					-o-animation-delay: 300ms;
					animation-delay: 300ms;
					.animated;
					.fadeOutUp;
				}

			}

		}

	}

	.nav-menu-hide-up & {
		-webkit-transition: -webkit-transform 1s ease;
		-moz-transition: -moz-transform 1s ease;
		-ms-transition: -ms-transform 1s ease;
		-o-transition: -o-transform 1s ease;
		transition: transform 1s ease;
		-webkit-transform: translateY(100%);
		-moz-transform: translateY(100%);
		-ms-transform: translateY(100%);
		transform: translateY(100%);
	}

	background-color: @navbar-bg;
	position: fixed;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 20;
	right: 0;
	top: -100%;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
	padding: 60px;

	.sidebar-inner {
  		display: table-cell;
  		vertical-align: middle;
	}

	.main-navigation {
		display: block;
		text-align: center;
		list-style-type: none;
		padding: 0;
		margin: 0;

		> li.main-navigation-item {
			display: block;
		    font-family: @font-family-navigation;
		    font-size: (@font-size-base * 3.3);
		    line-height: (@font-size-base * 3.3) + 12;
			a {
				color: @navigation-link-color;
				display: block;
				&:hover {
					text-decoration: none;
					color: @navigation-link-color-hover;
				}
			}

		}

	}

	.nav-menu-open & {
	
	}


	.address {
		position: absolute;
		left: 40px;
		bottom: 15px;
	}

	.contact {
		position: absolute;
		right: 40px;
		bottom: 15px;
	}

	.social-links {
		position: absolute;
		bottom: 20px;
		left: auto;
		right: auto;
	}

}

.address {
	color: @navigation-link-color;
    font-family: @font-family-navigation;
    font-size: @font-size-small;
    line-height: 17px;
}

.contact {
	color: @navigation-link-color;
    font-family: @font-family-navigation;
    font-size: @font-size-small;
    line-height: 17px;
    z-index: 1;
    a {
    	display: block;
    	color: @navigation-link-color;
		&:hover {
			text-decoration: none;
			color: @navigation-link-color-hover;
		}
    }
}

.social-links {

	list-style-type: none;
	// text-align: center;
	padding: 0;
	width: 100%;

	.social-links-item {

		display: inline-block;
		padding: 0;
		margin: 0;

		a {
		  border-radius: 50%;
		  width: 30px;
		  height: 30px;
		  text-align: center;
		  line-height: 38px;
		  background: #fff;
		  font-size: 20px;
		  padding: 0;
		  display: block;

			.fa {
				color: @navbar-bg;
			}

		}

	}

}