.masthead {

	padding: 0px 0;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1900;
	pointer-events: none;

	* {
		pointer-events: auto;
	}

	.brand {
		position: absolute;
		left: 30px;
		right: auto;
		top: 30px;
		z-index: 110;

		// .nav-menu-open & {

		// 	.animated;
		// 	.fadeInLeftBig;
		// 	left: auto;
		// 	right: 90px;
		//     -webkit-animation-duration: 0.6s;
		//     -moz-animation-duration: 0.6s;
		//     -o-animation-duration: 0.6s;
		//     animation-duration: 0.6s;

		// }

		.logo {
			img {
				width: 120px;
				display: block;
			}
		}

	}

	.page-title {
		position: absolute;
		right: 120px;
		top: 30px;	
		.animated;
		.fadeIn;
	    -webkit-animation-duration: 0.3s;
	    -moz-animation-duration: 0.3s;
	    -o-animation-duration: 0.3s;
	    animation-duration: 0.3s;
		.nav-menu-open &  {
			.animated;
			.fadeOut;
		    -webkit-animation-duration: 0.3s;
		    -moz-animation-duration: 0.3s;
		    -o-animation-duration: 0.3s;
		    animation-duration: 0.3s;
		}
	}

}