.case-nav {

	position: absolute;
	display: table;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 20;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15%;
	height: 100%;

	.case-nav-projects {

  		display: table-cell;
  		vertical-align: middle;
  		margin: 0;
  		padding: 0;
  		list-style-type: none;

		.case-nav-projects-item {

			overflow: hidden;
			-webkit-overflow-scrolling: touch;
			height: 100%;
			background-size: cover;
			background-position: bottom center;

			> a {

				display: block;
				padding: 40px 40px 40px 40px;
				color: #fff;
				font-weight: bold;
				font-size: @font-size-large;

			}

		}

	}

}