html,
body {
  height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;

	@media only screen and (min-width: 500px) {
		-webkit-transition: -webkit-transform 500ms ease;
		-moz-transition: -moz-transform 500ms ease;
		-ms-transition: -ms-transform 500ms ease;
		-o-transition: -o-transform 500ms ease;
		transition: transform 500ms ease;

		&.nav-menu-open {
			overflow: hidden;
			-webkit-transform: translateX(-80%);
			-moz-transform: translateX(-80%);
			-ms-transform: translateX(-80%);
			transform: translateX(-80%);
		}
	}

}

#wrapper {
  .animated;
  .fadeInLeft;
	min-height: 100%;
	height: 100%;
	&.nav-menu-open {
		// overflow: hidden;

	}

}

:focus, :active {
	outline: none !important;
}

.intro {
  background-color: #ff4d58;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
  background-size: cover;
  background-position: bottom center;

  h1,
  .h1 {
    font-size: (@font-size-base * 3.7);
  }

}

.full-height-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.full-height-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 30px;
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .full-height-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}

.typed-cursor {
  display: none;
}

.visible {
  opacity: 1;
}
.hidden {
  opacity: 0;
}

.case {
  height: 100%;
}