.footer {
	
	background: @footer-bg;
	padding-top: 70px;
	color: rgba(255,255,255,0.75);

	hr {
		border-color: rgba(255,255,255,0.15);
	}

	a {
		color: rgba(255,255,255,0.75);
	}

	a:hover, a:focus, a:active {
		background: transparent !important;
		color: #fff !important;
		outline: none !important;
	}

	.nav {

		font-family: @font-family-navigation;

		li {
			font-size: @font-size-base - 2;
			a {
				color: rgba(255,255,255,0.75);

				&:hover {
					background: transparent;
					color: rgba(255,255,255,1);
				}
			}

		}

	}

	.copy {
		font-size: @font-size-base - 3;
	}

	.icon-facebook {
		margin-right: 5px;
	}

	.select-language {	
		.dropdown-toggle {
			background: transparent;
			color: rgba(255,255,255,0.75);
			border-bottom: 0 px solid transparent;
			text-decoration: none;
			&:hover, &:active {
				text-decoration: none;
				border-bottom: 0 px solid transparent;
				background: transparent;
			}
			.icon-arrow-down {
				font-size: @font-size-base - 8;
				margin-left: 5px;
			}
		}
	}

}