.item {
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	background-size: cover;
	background-position: bottom center;

	.container {
		padding: 70px 0;
	}
	
}

.about-us {

	.item-quote {
		background-color: @about-us-dark-bg;	
	}

	.item-intro {
		background-color: #fff;
	}

	.item-description {
		background-color: @about-us-lighter-bg;	
	}

	.item-footer {
		background-color: #fff;
	}

}