.menu-trigger {
	pointer-events: auto;
	position: fixed;
	right: 60px;
	top: 60px;
	z-index: 110;
	display: block;
	width: 25px;
	height: 22px;
	cursor: pointer;

	.nav-menu-open & {
		right: -76%;
	}

	span {
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 100%;
		height: 4px;
		font-size: 0;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	span, span.before, span.after {
		background-color: #fff;
	}

	span.before, span.after {
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		content: '';
		-webkit-transition: -webkit-transform .3s;
		transition: transform .3s;
	}

	span.before {
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	span.after {
		-webkit-transform: translateY(10px);
		-ms-transform: translateY(10px);
		transform: translateY(10px);
	}

	.nav-menu-open & {

		span.before {
			-webkit-transform: translateY(0) rotate(45deg);
			-ms-transform: translateY(0) rotate(45deg);
			transform: translateY(0) rotate(45deg);
			background-color: #000;
		}

		span.main {
			background-color: transparent !important;
		}

		span.after {
			-webkit-transform: translateY(0) rotate(-45deg);
			-ms-transform: translateY(0) rotate(-45deg);
			transform: translateY(0) rotate(-45deg);
			background-color: #000;
		}

	}

}

.main-nav {
	display: table;
	height: 100%;

	@media only screen and (min-width: 500px) {
		padding: 0;
		font-size: 38px;
		left: auto;
		right: -80%;
		width: 80%;
	}

	.nav-menu-open & {
		// overflow: hidden;

		// -webkit-transition: -webkit-transform 500ms ease;
		// -moz-transition: -moz-transform 500ms ease;
		// -ms-transition: -ms-transform 500ms ease;
		// -o-transition: -o-transform 500ms ease;
		// transition: transform 500ms ease;
		// -webkit-transform: translateX(-80%);
		// -moz-transform: translateX(-80%);
		// -ms-transform: translateX(-80%);
		// transform: translateX(-80%);
	}

	background-color: #fff;
	position: fixed;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 20;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 60px;

	.sidebar-inner {
  		display: table-cell;
  		vertical-align: middle;
	}

	.main-navigation {
		display: block;
		text-align: center;
		list-style-type: none;
		padding: 0;
		margin: 0;

		> li.main-navigation-item {
			display: block;
			a {
				padding: 20px 0;
				display: block;
			}

		}

	}

	.nav-menu-open & {
	
	}

}

.social-links {

	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 100px 0 0;

	.social-links-item {

		display: inline-block;
		padding: 0;
		margin: 0;

		a {
			padding: 15px;

			.fa {}

		}

	}

}